# User Constraint File
# Asbjørn Djupdal 2003/05/05

# Locking nets to pins

NET rst LOC = AP4;
NET clk LOC = AY22;
NET pcibusy LOC = AT3;
NET pciempty LOC = AP3;
NET pcirw LOC = AU4;
NET pcienable LOC = AR5;
NET pcidata<0> LOC = AR4;
NET pcidata<1> LOC = AV1;
NET pcidata<2> LOC = AJ1;
NET pcidata<3> LOC = AM5;
NET pcidata<4> LOC = AE1;
NET pcidata<5> LOC = V3;
NET pcidata<6> LOC = P3;
NET pcidata<7> LOC = P2;
NET pcidata<8> LOC = D2;
NET pcidata<9> LOC = F5;
NET pcidata<10> LOC = B6;
NET pcidata<11> LOC = D6;
NET pcidata<12> LOC = A5;
NET pcidata<13> LOC = C4;
NET pcidata<14> LOC = E6;
NET pcidata<15> LOC = AW3;
NET pcidata<16> LOC = AU2;
NET pcidata<17> LOC = AU5;
NET pcidata<18> LOC = AU1;
NET pcidata<19> LOC = AT2;
NET pcidata<20> LOC = AV4;
NET pcidata<21> LOC = AT1;
NET pcidata<22> LOC = AR2;
NET pcidata<23> LOC = AV3;
NET pcidata<24> LOC = AR1;
NET pcidata<25> LOC = AP2;
NET pcidata<26> LOC = AP1;
NET pcidata<27> LOC = AP5;
NET pcidata<28> LOC = AN5;
NET pcidata<29> LOC = AT4;
NET pcidata<30> LOC = AT5;
NET pcidata<31> LOC = AR3;

NET led<15>   LOC = AW36;
NET led<14>   LOC = AY36;
NET led<13>   LOC = BA36;
NET led<12>   LOC = BB36;
NET led<11>   LOC = AY38;
NET led<10>   LOC = BB38;
NET led<9>    LOC = AW37;
NET led<8>    LOC = AY37;
NET led<7>    LOC = AY11;
NET led<6>    LOC = AV34;
NET led<5>    LOC = AW35;
NET led<4>    LOC = AV35;
NET led<3>    LOC = BB9;
NET led<2>    LOC = AV36;
NET led<1>    LOC = BB37;
NET led<0>    LOC = BA37;

# Timing constraints

NET clk PERIOD = 25ns;
NET pcibusy OFFSET = IN 9ns BEFORE clk;
NET pciempty OFFSET = IN 9ns BEFORE clk;
NET pcirw OFFSET = OUT 11ns AFTER clk;
NET pcienable OFFSET = OUT 11ns AFTER clk;
NET pcidata<0> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<0> OFFSET = IN 5ns BEFORE clk;
NET pcidata<1> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<1> OFFSET = IN 5ns BEFORE clk;
NET pcidata<2> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<2> OFFSET = IN 5ns BEFORE clk;
NET pcidata<3> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<3> OFFSET = IN 5ns BEFORE clk;
NET pcidata<4> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<4> OFFSET = IN 5ns BEFORE clk;
NET pcidata<5> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<5> OFFSET = IN 5ns BEFORE clk;
NET pcidata<6> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<6> OFFSET = IN 5ns BEFORE clk;
NET pcidata<7> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<7> OFFSET = IN 5ns BEFORE clk;
NET pcidata<8> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<8> OFFSET = IN 5ns BEFORE clk;
NET pcidata<9> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<9> OFFSET = IN 5ns BEFORE clk;
NET pcidata<10> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<10> OFFSET = IN 5ns BEFORE clk;
NET pcidata<11> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<11> OFFSET = IN 5ns BEFORE clk;
NET pcidata<12> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<12> OFFSET = IN 5ns BEFORE clk;
NET pcidata<13> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<13> OFFSET = IN 5ns BEFORE clk;
NET pcidata<14> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<14> OFFSET = IN 5ns BEFORE clk;
NET pcidata<15> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<15> OFFSET = IN 5ns BEFORE clk;
NET pcidata<16> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<16> OFFSET = IN 5ns BEFORE clk;
NET pcidata<17> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<17> OFFSET = IN 5ns BEFORE clk;
NET pcidata<18> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<18> OFFSET = IN 5ns BEFORE clk;
NET pcidata<19> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<19> OFFSET = IN 5ns BEFORE clk;
NET pcidata<20> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<20> OFFSET = IN 5ns BEFORE clk;
NET pcidata<21> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<21> OFFSET = IN 5ns BEFORE clk;
NET pcidata<22> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<22> OFFSET = IN 5ns BEFORE clk;
NET pcidata<23> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<23> OFFSET = IN 5ns BEFORE clk;
NET pcidata<24> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<24> OFFSET = IN 5ns BEFORE clk;
NET pcidata<25> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<25> OFFSET = IN 5ns BEFORE clk;
NET pcidata<26> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<26> OFFSET = IN 5ns BEFORE clk;
NET pcidata<27> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<27> OFFSET = IN 5ns BEFORE clk;
NET pcidata<28> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<28> OFFSET = IN 5ns BEFORE clk;
NET pcidata<29> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<29> OFFSET = IN 5ns BEFORE clk;
NET pcidata<30> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<30> OFFSET = IN 5ns BEFORE clk;
NET pcidata<31> OFFSET = OUT 12.5ns AFTER clk;
NET pcidata<31> OFFSET = IN 5ns BEFORE clk;
